
  .home-text p {
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: fall 1s ease-out 0.5s forwards; 
  }


.home-text h1{
  font-size: 5rem;
  color: #ffffff;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  line-height: 1.2;
  opacity: 0;
  animation: fall 1s ease-out forwards;
}

@media (max-width: 450px) {
  .home-text h1 {
    font-size: 2rem;
  }
  .home-text p {
    font-size: 0.75rem;
  }
  
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.falling {
  animation: float 6s ease-in-out infinite;
  transition: transform 0.5s ease-in-out;
  animation-duration: 5s;
}
