*{
  overflow-x: hidden;
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); 
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floating {
    animation: float 6s ease-in-out infinite;
  }
  

  @keyframes fall {
    from {
      opacity: 0;
      transform: translateY(-100vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .falling {
    animation: fall 1s ease-out;
  }
  
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: url('./assets/background.png') no-repeat center 
}

::-webkit-scrollbar-thumb {
  background:black; 
  background-size: cover; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: url('./assets/background.png') no-repeat center center; 
  background-size: cover;
}
