/* src/pages/Home.css */
*{
  overflow-x: hidden;
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); /* Adjust this value for float height */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floating {
    animation: float 6s ease-in-out infinite; /* Adjust duration and easing as needed */
  }
  

  @keyframes fall {
    from {
      opacity: 0;
      transform: translateY(-100vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .falling {
    animation: fall 1s ease-out;
  }
  
/* index.css or App.css */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: url('./assets/background.png') no-repeat center /* Black track */
}

::-webkit-scrollbar-thumb {
  background:black; /* Use the image */
  background-size: cover; /* Ensure the image covers the thumb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: url('./assets/background.png') no-repeat center center; /* Same image on hover */
  background-size: cover;
}
